:local(.root) {
  position: fixed;
  background: black;
  color: white;
  top: 20px;
  right: 20px;
  width: 150px;
}

:local(.routeHeader) {
  font: 14px sans-serif;
  text-align: center;
  margin-top: 5px;
}

:local(.routeSubHeader) {
  font: 11px sans-serif;
  color: #ccc;
  text-align: center;
}

:local(.routeContainer) {
  display: flex;
  justify-content: space-around;
  margin: 20px 5px 10px;
}

:local(.route) {
  background: currentColor;
  width: 8px;
  border-radius: 8px;
  display: inline-block;
  position: relative;
  margin-top: 10px;
}

:local(.routeLabel) {
  position: absolute;
  top: -15px;
  left: 50%;
  color: white;
  font: 10px sans-serif;
  width: 35px;
  transform: translate(-50%, -100%);
  text-align: center;
}

:local(.routePoint), :local(.routePointDragging) {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  user-select: none;
}

:local(.routePoint) {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

:local(.routePointDragging) {
  position: fixed;
}

:local(.draggingLayer) {
  position: fixed;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

:local(.statsContainer) {
  border-top: 1px solid #333;
  padding: 10px 0;
  margin-top: 15px;
}

:local(.statsLine) {
  font: 14px sans-serif;
  text-align: center;
  padding: 1px 0;
}

:local(.pin) {
  border-top: 1px solid #333;
  text-align: center;
  padding: 45px 0 15px;
  line-height: 0;
  font-size: 0;
}
